/*Interna Sobre*/

.interna-sobre{
  background: url('../img/bg-sobre.jpg') no-repeat center;
  background-size: cover;
}

/* Nossa História*/

.nossa-historia{
  padding: 40px 0;
}

.nossa-historia h2{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.historia-container{
  max-width: 960px;
  margin: 0 auto;
  
}

.historia-container::after, .historia-container::before {
  content: '';
  display: table;
  clear: both;
}

.quote_historia{
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  content:"";
  display: block;
  width: 60px;
  height: 3px;
  background: #18A9BE;
  margin: 10px auto 10px auto;
}


.nossa-historia p{
  margin: 10px auto;
	max-width: 460px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  text-align: center;
  
}

@media (max-width: 739px){
  .nossa-historia p{
    max-width: 350px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
}


/* Missão Visão e Valores */

.mvv{
  background: #1d1d1d;
  padding: 60px 0;
}

.mvv-container{
  max-width: 960px;
  margin: 0 auto;
}

.mvv-container::after, .mvv-container::before{
  content: '';
  display: table;
  clear: both;
}

.mvv h3{
  text-align: center;
  font-size: 24px;
  line-height: 20px;
  font-weight: bold;
  color: #ffffff;
}

.mvv p{
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  
}

.quote_mvv:before {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  content:"";
  display: block;
  width: 60px;
  height: 3px;
  background: #18A9BE;
  margin: 10px auto 10px auto;
  
}

.mvv-item {
  width: 300px;
  float: left;
  margin: 0 10px;
  
}

.mvv-item img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  
}

@media (min-width: 740px) and (max-width: 980px){
  .mvv-container{
    max-width: 720px;
  }

  .mvv-item{
    width: 220px;
  }
}

@media (max-width: 739px){
  .mvv-container{
    max-width: 300px;
  }

  .mvv-item{
    margin: 0 auto 20px auto;
  }
}

/* Equipe */

.equipe{
  
  padding: 60px 0;
}

.equipe h2{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.equipe-container{
  max-width: 960px;
  margin: 0 auto;
}

.equipe-container::after, .equipe-container::before{
  content: '';
  display: table;
  clear: both;
}

.equipe h3{
  
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #1d1d1d;
}

.equipe p{
  
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  color: #1d1d1d;
}


.quote_equipe:before {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  content:"";
  display: block;
  width: 60px;
  height: 3px;
  background: #18A9BE;
  margin: 20px auto 20px auto;
}

.quote_equipe-sub{
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  content:"";
  display: block;
  width: 60px;
  height: 3px;
  background: #18A9BE;
  margin: 20px auto 20px auto;
}

.equipe-item-1{
  width: 200px;
  float: left;
  margin: 0 10px;
  
}

.equipe-item-1 img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.equipe-item-1 p{
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1d;
}

.equipe-item-2{
  width: 200px;
  float: left;
  margin: 0 10px;

}

.equipe-item-2 img{
  display: block;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.equipe-item-2 p{
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1d;
}

@media (min-width: 740px) and (max-width: 980px){
  .equipe-container{
    max-width: 720px;
  }

  .equipe-item-1{
    width: 300px;
  }

  .equipe-item-2{
    width: 300px;
  }
}

@media (max-width: 739px){
  .equipe-container{
    max-width: 300px;
  }

  .equipe-item-1{
    margin: 0 auto 20px auto;
    width: 300px;
  }

  .equipe-item-2{
    margin: 0 auto 20px auto;
    width: 300px;
  }
}




