


/* Reset */

body, h1, h2, h3, p, ul{
  padding: 0px;
  margin: 0px;
}



/* Estilos Gerais */

body{
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 25px;
}

h2{
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
line-height: 30px;
font-weight: bold;
}

h3 {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
line-height: 25px;
font-weight: bold;
}

img{
  display: block;
  max-width: 100%;
}

.btn-preto {
  border-radius: 20px;
  border: 3px solid #18A9BE;
  background: none;
  box-sizing: border-box;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  transition: all .5s ease;
  text-decoration: none;
}

.btn-preto:hover{
  border: 3px solid #ffffff;
  border-radius: 10px;
  color:#ffffff;
  background:none;
  text-decoration: none;
}

.btn {
  border-radius: 20px;
  border: 3px solid #18A9BE;
  background: none;
  box-sizing: border-box;
  padding: 10px 20px;
  color: #1d1d1d;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  transition: all .5s ease;
  text-decoration: none;
}

.btn:hover{
  border: 3px solid #1d1d1d;
  border-radius: 10px;
  color: #1d1d1d;
  background:none;
  text-decoration: none;
}



/* Header Menu */

.menu {
  background: #F2f2f2;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  
}

.menu-container{
  max-width: 960px;
  margin: 0 auto;
}

.menu-container::after, .menu-container::before {
  content: '';
  display: table;
  clear: both;
}

a.menu-logo{
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav{
  float: right;
  margin-right: 10px;
  margin-top: 15px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #1d1d1d;
  font-size: 18px;
  font-weight: bold;
  transition: all .5s ease;
}

.menu-nav a:hover{
  color: #18A9BE;
}

.menu-nav ul li a.menu-ativo{
  color: #18A9BE;
}

@media (max-width: 739px) {
  .menu{
    text-align: center;
    position: relative;
  }
  
  a.menu-logo{
    float: none;
    margin: 0 auto;
  }

  .menu-logo img{
    float: none;
    margin: 0 auto;
  }

  .menu-nav{
    float: none;
    clear: both;
  }
}

/* Intro*/

.intro {
  width: 100%;
  height: 380px;
  background: url('../img/bg-intro.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  
  
}

.intro h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 80px 0;
  line-height: 60px;
  letter-spacing: .1em;
}

/*Introdução Interna*/

.intro-interna{
  width: 100%;
  height: 160px;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding-top: 60px;
  
}

.intro-interna h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  
}

.intro-interna h1::after{
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  content:"";
  display: block;
  width: 60px;
  height: 3px;
  background: #18A9BE;
  margin: 6px auto 10px auto;
}

.intro-interna p{
  font-size: 14px;
  line-height: 20px;
}

.btn-orcamento{
  border-radius: 20px;
  border: 3px solid #18A9BE;
  background: none;
  box-sizing: border-box;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  transition: all .5s ease;
  text-decoration: none;
}

.btn-orcamento:hover{
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  background:none;
  text-decoration: none;
}

@media (max-width: 739px) {
  .intro h1{
    font-size: 36px;
    line-height: 54px;
  }

  .intro{
    padding: 60px 0;
  }
}

/* Sobre*/

.sobre{
  padding: 40px 0;
}

.sobre-container{
  max-width: 960px;
  margin: 0 auto;
}

.sobre-container::after, .sobre-container::before{
  content: '';
  display: table;
  clear: both;
}

.sobre h2{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.quote_sobre:before {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  content:"";
  display: block;
  width: 60px;
  height: 3px;
  background: #18A9BE;
  margin: 10px auto 10px auto;
}

.sobre-item {
  width: 460px;
  float: left;
  margin: 0 10px;

}

.sobre-item img{
  display: block;
  max-width: 100%;
}

.sobre-item h3{
  font-size: 24px;
  line-height: 30px;
  padding: 20px 0;
  text-align: left;
  color: #18A9BE;
}

.sobre-item p{
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #1d1d1d;
  margin-bottom: 60px;
}

@media (min-width: 740px) and (max-width: 980px){
  .sobre-container{
    max-width: 720px;
  }

  .sobre-item {
    width: 340px;
  }

  .sobre-item p{
    width: 350px;
    font-size: 14px;
    line-height: 20px;
  }

  .sobre-item a{
    
    margin-left: -80px;
  }
}

@media (max-width: 739px){
  .sobre-container{
    max-width: 300px;
  }

  .sobre-item{
    width: 300px;
    margin: 0 auto;
  }

  .sobre-item h3{
    width: 350px;
    
  }
  

  .sobre-item p{
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    width: 350px;
  }
}

/* Serviços */

.servicos {
  background: #1d1d1d;
  padding: 40px 0;
}

.servicos-container{
  
  max-width: 960px;
  margin: 0 auto;
}

.servicos-container::after, .servicos-container::before{
  content: '';
  display: table;
  clear: both;
}

.servicos h2{
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.quote_servicos:before {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  content:"";
  display: block;
  width: 60px;
  height: 3px;
  background: #18A9BE;
  margin: 10px auto 10px auto;
}

.servicos-item{
  width: 460px;
  float: left;
  margin: 0 10px;
  margin-bottom: 60px;
}

.servicos-item img{
  display: block;
  max-width: 100%;
}

.servicos-item h3{
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
  text-align: left;
  color: #18A9BE;
}

.servicos-item p{
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #ffffff;
}

.servicos-item-2{
  width: 460px;
  float: right;
  margin: 0 10px;
  margin-bottom: 60px;
}

.servicos-item-2 h3{
  font-size: 24px;
  font-weight: bold;
  margin-top: -20px;
  padding: 0 20px;
  text-align: right;
  color: #18A9BE;
}

.servicos-item-2 p{
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #ffffff;
  margin: 20px;
}

.servicos-item-3{
  width: 460px;
  float: left;
  margin: 0 10px;
  margin-bottom: 60px;
}

.servicos-item-3 h3{
  font-size: 24px;
  padding: 20px 0;
  text-align: left;
  color: #18A9BE;
  
}

.servicos-item-3 p{
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #ffffff;
  
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
  color: #ffffff;
}

.call p{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 740px) and (max-width: 980px){
  .servicos-container{
    max-width: 720px;
  }

  .servicos-item{
    width: 300px;
  }

  .servicos-item p{
    font-size: 14px;
    line-height: 20px;
  }

  .servicos-item-2{
    width: 300px;
  }

  .servicos-item-2 h3{
    text-align: left;
  }

  .servicos-item-2 p{
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }

  .servicos-item-3{
    width: 300px;
  }

  .servicos-item-3 p{
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 739px) {
	.servicos-container {
		max-width: 300px;
	}
	.servicos-item {
    margin: 0 auto 20px auto;
    max-width: 300px;
  }
  
  .servicos-item p{
    font-size: 14px;
    line-height: 20px;
  }

  .servicos-item-2 {
    margin: 0 auto 20px auto;
    max-width: 300px;
  }

  .servicos-item-2 h3{
    text-align: left;
  }
  
  .servicos-item-2 p{
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }

  .servicos-item-3 {
    margin: 0 auto 20px auto;
    max-width: 300px;
  }
  
  .servicos-item-3 p{
    font-size: 14px;
    line-height: 20px;
  }
}

/* Portfólio */

.portfolio {
  padding: 40px 0;
  max-width: 960px;
  margin: 0 auto;
}

.portfolio h2{
  color: #1d1d1d;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.portfolio-item {
  clear: both;
  margin: 60px auto;
}

.portfolio-item::after, .portfolio-item::before {
	display: table;
	content: '';
	clear: both;
}

.portfolio-item img{
  width: 460px;
  float: left;
  margin: 0 10px;
}

.portfolio-item > div {
  width: 460px;
  float: left;
  margin: 0 10px;
}

.portfolio h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #18A9BE;
}

.portfolio-item p{
  width: 400px;
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  color: #1d1d1d;
  margin-bottom: 120px;
}

.call-portfolio{
  padding-top: 40px;
  text-align: center;
  clear: both;
  color: #1d1d1d;
}

.call-portfolio p{
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 740px) and (max-width: 980px) {
	.portfolio {
    max-width: 720px;
    
	}
	.portfolio-item > div, .portfolio-item img{
    width: 300px;
    padding: 10px;
    padding-bottom: 20px;
  }

  .portfolio-item p{
    width: 350px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 739px) {
	.portfolio {
    max-width: 300px;
    
    
	}
	.portfolio-item > div, .portfolio-item img {
		width: 300px;
    margin: 0;
    padding-bottom: 20px;
    float: none;
    clear: both;
  }

  
  
  .portfolio-item p{
    width: 300px;
    font-size: 14px;
    line-height: 20px;
    margin: -10px 0;
  }

}


/* Footer */

.footer{
  width: 100%;
  background: #1d1d1d;
  color: #ffffff;
  padding: 20px 0;
  
}

.footer-container{
  max-width: 960px;
  margin: 0 auto;
 
}

.footer-container::after, .footer-container::before {
	content: '';
	display: table;
	clear: both;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  font-weight: bold;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #18A9BE;
  margin: 6px 0 12px 0;
}

.footer-texto{
  width: 300px;
  float: left;
  margin: 0 10px;
}

.footer-texto p{
  font-size: 14px;
  line-height: 20px;
  
}

.footer-contato h3{
  margin: 0 10px;
}

.footer-contato{
  width: 300px;
	margin: 0 10px;
  float: left;
}

.footer-contato ul li {
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;
  margin: 0 10px;
}

.footer-redes{
  width: 300px;
	margin: 0 10px;
  float: left;
}

.footer-redes h3{
  margin: 0 20px;
}

.footer-redes ul li{
  display: inline-block;
  margin-right: 10px;
  
}

.footer-redes ul li a{
  border-radius: 10px;
  margin: 0 20px;
  border: 3px solid #18A9BE;
  display: block;
  padding: 10px;
  transition: all .5s ease;
}

.footer-redes ul li a:hover{
 border-color: #ffffff;
}

@media (min-width: 740px) and (max-width: 980px){

  .footer{
    padding: 20px 0;
  }

  .footer-texto{
    width: 300px;
    
  }

  .footer-contato{
    width: 200px;
    
    margin: 0 auto;
  }

  .footer-contato p{
    width: 200px;
  }

  

  .footer-redes ul li a {
    padding: 6px;
    margin: 0 auto;
    
  }
}

@media (max-width: 739px){

  .footer{
    padding: 10px 0;
  }
  .footer-container{
    max-width: 300px;
  }

  .footer-texto{
    padding: 10px 0;
  }

  .footer-contato{
    padding: 10px 0;
  }

  .footer p{
    float: none;
    margin: 0px;
  }

  .footer img{
    float: none;
  }

  .footer-redes h3{
    margin: 0 auto;
  }

  .footer-redes ul li a {
    padding: 6px;
    margin: 0 auto;
  }
}

/* Copy */

.copy{
  width: 100%;
  background: #18A9BE;
  padding: 20px 0;
}

.copy-p{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

/* Animação JS */

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .fadeInRight {
  transform: translate3d(20px,0,0);
}

.js .fadeInLeft {
  transform: translate3d(-20px,0,0);
}

.js .anime{
  opacity: 1;
  transition: opacity 800ms;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}


.nao-aparece{
  visibility: hidden;
  position: relative;
  height: 0px;
}

#form-sucesso{
  color: #31aa39;
}

#form-erro{
  color: #f64540;
}






